.main-body{
    background-color: #696969;
    color:white;
}

.filter-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
}

.clever{
    width:8vw;
    height:8vw;
    margin-left: 2%;
}

.main-search {
    background-color: black;
}

.search {
    color: white; /* устанавливаем белый цвет текста в поле ввода */
    background-color: black; /* устанавливаем черный цвет фона для поля ввода */
    border: none; /* удаляем рамку */
    width:220%;
    height:2.3vw;
    border-radius: 5px;
}

.search::placeholder {
    color: white; /* устанавливаем белый цвет для текста placeholder */
}

.filter{
    font-size: 1.1vw;
    width:105%;
    padding:7px 22px 7px 12px;/*7 22 7 12*/
    border:none;
    border-radius: 5px;
    appearance: none;
    background-repeat: no-repeat, repeat;
    background-position: right 8px top 50%;
    background-size: 8px auto;
    color:black;
    background-color: white;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22white%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
}

.first-head{
    display:flex;
    align-items: center;
    column-gap: 12%;/*13vw*/
    border-bottom: 2px solid white;
    padding-bottom: 2%;
}

.site-navigation {
    display: flex;
    list-style: none;
    justify-content: center;
    column-gap: 6vw;/*80px*/
}

.site-navigation-item {
    cursor: pointer;
    color: white;
    font-size: 1.2vw;
}

.site-navigation-item a {
    text-decoration: none;
    color: white; 
}

.line-1 {
    border: 0;
    height: 2px; /* Высота линии */
    background-color: white; /* Белый цвет линии */
}

.man-but{
    background-color: transparent;
    border: none;
}

.man{
    width:5vw;
    height:5vw;
}

.basket-but{
    background-color: transparent;
    border: none;
}

.basket{
    background-color: transparent;
    width:5vw;
    height:5vw;
}

.head-block{
    display:flex;
    column-gap: 10%;/*10%*/
    margin-right: 4%;
}

.apple{
    border-radius: 10px;
    width:36vw;
    height:30vw;
}

.news{
    display:flex;
    align-items: center;
    margin:0 auto;
    width:80%;
    margin-top:4%;
    column-gap: 10%;
}

.news-text{
    line-height: 1.9vw;
    font-size: 1.4vw;
}

.main-foot{
    padding-bottom: 2%;/*60px*/
    margin-top:5%;
    font-size: 1.2vw;/*10px*/
    line-height: 1vw;/*12px*/
    background-color: white;
    color:black;
}

.footer-container{
    width:80%;
    margin:0 auto;
    padding: 2% 3%;
    display:flex;
    justify-content: space-around;
    border-radius: 40px 40px 0 0;
    margin-left: 7%;
    height: 14vw;
    align-items: center;
}

.footer-navigation-topics{
    display:flex;
    justify-content: space-between;
    width:88%;
    list-style: none;
    margin:0;
    padding:0;
    font-size: 1.1vw;
    line-height: 1.5vw;
    margin-left: 5%;/*35px*/
    column-gap: 10%;/*50px*/
    align-items: center;
}

.footer-navigation-topic{
    width:15%;
}

.footer-navigation-topic:last-child{
    width:20%;
}

.footer-navigation-topic a{
    cursor: pointer;
}

.footer-navigation-topic h2{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.footer-navigation-item h2{
    font-size: 1.3vw;
}

.a{
    width:4vw;
    height:4vw;
}

.a-1{
    width:5vw;
    height:4vw;
}

.footer-navigation{
    list-style: none;
    padding:0;
    margin:0;
}

.account{
    margin-left: 21%;
    border: 2px solid white;
    border-radius: 20px;
    width:55%;
    padding:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    background-color: #848383;
}

.account h1{
    font-size: 2.5vw;
}

.reg-2{
    font-size: 1.2vw;
}

.reg-2 form{
    width:33vw;
    display: flex;
    column-gap: 0%;
    justify-content: space-between;
    margin-left: -3%;
}

.pl-1{
    border:none;
    border-radius: 10px;
    font-size: 1.2vw;
    padding:2%;
    margin-bottom: 10px;
    width:38%;
}

.pl-2{
    border:none;
    border-radius: 10px;
    font-size: 1.2vw;
    padding:2%;
    margin-bottom: 10px;
    width:38%;
}

.button-2{
    width:37%;/*160px*/
    padding:2%;/*10px*/
    border-radius: 6px;
    background-color: #C0C0C0;
    transition: 0.5s;
    border: none;
    margin: 0 auto;
    display: block;
    font-family: "Roboto", sans-serif;
    color: #163152;
    font-size: 1.1vw;
    margin-top:0%;/*20px*/
    cursor: pointer;
}

.inf{ 
    line-height: 2vw;
    display: block;
    margin: 0 auto;
}

.block-h{
    line-height: 2vw;
    font-size: 1.3vw;
    margin: 0 auto;
}

.block-h-goods{
    line-height: 2vw;
    font-size: 1.3vw;
    margin: 0 auto;
}


.block-p{
    width:100%;
    padding:0;
    margin:0;
    font-size: 1.1vw;
    line-height: 1.5vw;
}

.inf-2{
    width:27%;
    height:1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2%;
    margin-bottom: 2%;
}

.hash-komplex{
    padding:2%;
    width:53%;
    height:2vw;
    border-radius: 12px;
    font-size: 1.1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block{
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width:20%;
    height:13vw;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.block-goods{
    width:22vw;
    height:34vw;
    display: block; 
}

.main-manufact{
    margin-top: 2%;
    display: flex;
    column-gap: 5%;
    justify-content: center;
}

.main-manufact-goods{
    margin-top: 2%;
    display: flex;
    column-gap: 2%;
    justify-content: start;
    width:110%;
    flex-wrap: wrap;
}

.america{
    width:13vw;
    height:10vw;
}

.iphone-15{
    width:25vw;
    height:26vw;
}

.price{
    display: block;
    line-height: 0vw;
    margin-left: 15%;
    font-size: 1vw;
}

.hidden {
    display: none;
}

.goods{
    display: flex;
    column-gap: 4.5vw;
    align-items: center;
}

.hash-country{
    border-radius: 4px;/*4px*/
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 1px solid #ccc; 
    padding: 6%;/*14px*/
    margin: 0;
    margin-left:auto;
    margin-right: 2%;
}